{% extends "header.html" %}

{% block body %}

	{% if session.logged_in == 'client' %}

		<h2><span uk-icon="icon: pencil; ratio: 2.5"></span> Discuss Question:</h2>
		<hr>
		<article class="uk-article">

		    <h3 class="uk-article-title">{{ ticket.title }}</h3>
		    <ul class="uk-comment-meta uk-subnav uk-subnav-divider uk-margin-remove-top">
			    <li>{{ ticket.created_at }}</li>
			    <li><b>Tags</b>: {{ ticket.tags }}</li>
			    <li><b>Difficulty</b>: {{ ticket.diffeculty }}</li>
			    <li><b>Priority</b>: {{ ticket.priority }}</li>
			    <li><b>Question ID</b>: {{ ticket.id }}</li>
			</ul>

		    {% for t in threads %}
		    <div class="uk-clearfix">
				{% if t.client_id %}
					<div class="uk-card uk-card-primary uk-card-body uk-float-right uk-padding-small uk-margin uk-width-1-2@s">
						<p class="uk-text-right">
							<strong>{{ session.first_name }}</strong> &nbsp; <span  uk-icon="icon: chevron-right"></span>
						</p>
						{{ t.body }}
					</div>
				{% endif %}
				{% if t.technician_id %}
					<div class="uk-card uk-card-secondary uk-card-body uk-float-left uk-padding-small uk-margin uk-width-1-2@s">
						<p class="uk-text-left"><span  uk-icon="icon: chevron-left"></span>
							<strong>Tech ID: {{ t[3] }}</strong>
						</p>
						{{ t.body }}
					</div>
				{% endif %}
				<br>
			</div>
			{% endfor %}

        	<form action="{{ url_for('main.room', select_q = ticket.random) }}" method="post">
        		<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
				<textarea class="uk-textarea" rows="10" placeholder="Enter your response here" name="body" value="{{ request.form.body }}"></textarea>
				<br>
				<br>
				<a href="" uk-icon="icon: info"></a>
            	<label><input class="uk-checkbox" type="checkbox" name="answered" value="1"> Did the technician answer your question?</label>

				<br><br>
				<input class="uk-button uk-button-primary" type="submit" value="Reply" onClick="history.go(0)">
			</form>
			<br>

			<a href="{{ url_for('main.room', select_q = ticket.random) }}" uk-icon="icon: refresh"></a>
			<a href="{{ url_for('main.room', select_q = ticket.random) }}" onClick="history.go(0)" >Refresh</a>

		    {% if error %}
				<span class="uk-label uk-label-danger">{{ error }}</span></p>
			{% endif %}
		</article>

	{% elif session.logged_in == 'tech' %}

		<!-- Display only if technician reaches this page -->
		<div class="uk-article uk-padding uk-align-center">
		 	<h2><img style="height: 1em;" src="{{ url_for('static', filename='flat-icons/alert.png')}}" alt="alert"> Logged in as technician </h2>
		 	<hr>
		 	<p>
		 		This page is for client accounts only, try logging out of your technician account and logging into a regular Minute.tech account.
		 		<br>
		 		<br>
		 		<a href="/logout/" uk-icon="icon: user"></a> <a href="/logout/"> Logout </a>
		 		<br>
		 		<br>
		 		<a href="/" uk-icon="icon: home"></a> <a href="/"> Homepage</a>
		 		<br>
		 		<br>
		 		<a href="/techaccount/" uk-icon="icon: user"></a> <a href="/techaccount/"> Technician Account</a>
		 		<img class="uk-responsive-height uk-responsive-width uk-padding uk-align-center" style="height:275px" src="{{ url_for('static', filename='flat-icons/alert.png')}}" alt="alert">
		 	</p>
		 </div>

	{% else %}

		<!-- Display only if user reaches this page w/o logging in -->
		<div class="uk-article uk-padding uk-align-center">
		 	<h2><img style="height: 1em;" src="{{ url_for('static', filename='flat-icons/alert.png')}}" alt="alert"> Not logged in  </h2>
		 	<hr>
		 	<p>
		 		<a href="/login/" uk-icon="icon: sign-in"></a> <a href="/login/"> Login </a>
		 		<br>
		 		<br>
		 		<a href="/register/" uk-icon="icon: plus"></a> <a href="/register/"> Sign up </a>
		 		<br>
		 		<br>
		 		<a href="/" uk-icon="icon: home"></a> <a href="/"> Homepage </a>
		 		<img class="uk-responsive-height uk-responsive-width uk-padding uk-align-center" style="height:275px" src="{{ url_for('static', filename='flat-icons/alert.png')}}" alt="alert">
		 	</p>
		 </div>

	{% endif %}

{% endblock %}

