{% extends "header.html" %}

{% block body %}

        <h2><span uk-icon="icon: unlock; ratio: 2.5"></span> Set password</h2>
        <hr>
            <form class="uk-grid-small uk-background-muted uk-padding" method=post action="/reset_password/{{ token }}" uk-grid>
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <h4 class="uk-width-1-1">Please enter a new secure, but memorizable password below:</h4>
                <div class="uk-width-1-2@s">{{ form.password(placeholder="Password", class_="uk-input") }}
                    {% for error in form.password.errors %}
                        <span class="uk-label uk-label-danger">{{ error }}</span>
                    {% endfor %}
                </div>
                <div class="uk-width-1-2@s">{{ form.confirm(placeholder="Repeat Password", class_="uk-input") }}
                    {% for error in form.confirm.errors %}
                        <span class="uk-label uk-label-danger">{{ error }}</span>
                    {% endfor %}
                </div><br>
                <div class="uk-width-1-1"></div>
            <input class="uk-button uk-button-primary uk-width-1-4@s" type=submit value=Reset>
            <div class="uk-width-1-1"></div>
            </form>
        <hr>
        <p><a href="/account/" uk-icon="icon: user"></a> Don't want to change your password? <a href="/account/">Go to account.</a></p>

{% endblock %}





